<div class="container">
	<div class="jumbotron">
		<div class="aboutText"> 
		<h1>Bitcoin in Space Project</h1>
		<p>This is where we can put some text about our project and how it came to be</p>
		<p>It would be great to have a little information about Chancetime Art, and we can put a link in here for some cross-branding.</p> 
		<p>We can close this paragraph with something about how dope crypto is.</p><p>To the moon!</p>  
		<p>One of a kind, Bitcoin space art.</p> 
		<p>Founders are two Bitcoin hobbyists. Everything is sold for Bitcoin because we believe in the long-term viability of the cryptocurrency as an innovative and world-changing medium.</p> 
		<p>Each unique art piece is made on posterboard and has the dimensions of 16" x 18". While each Bitcoin in Space piece is unique and customized, they will maintain this dimensions.</P. 
		<p>Shipping is included in the cost of your purchase. Our expected time frame for shipping is up to five days.</p> 

<!--- WE MAY WANT TO PUT A BUTTON HERE TO GAUGE INTERNATIONAL INTEREST IN THE LONG-TERM. CLICK HERE TO ADD YOUR NAME --> 

	</div> 
	</div>
</div>
