<div class="container">
	<div class="jumbotron">
		<div class="aboutText"> 
		<h1>Bitcoin in Space Project</h1>
		<p>This is where we can put some text about our project and how it came to be</p>
		<p>It would be great to have a little information about Chancetime Art, and we can put a link in here for some cross-branding.</p> 
		<p>We can close this paragraph with something about how dope crypto is.</p><p>To the moon!</p>  
	</div> 
	</div>
</div>
