<div class="container">
	<div class="jumbotron">
		<div class="aboutText"> 
			<h1>Bitcoin SpaceArt Project</h1>
			<p>As two Bitcoin hobbyists based out of Ann Arbor, MI, we decided to combine our interest in art and cryptocurrency by selling Chancetime's BTC-themed artwork.</p> 
			<div class="aboutimage">
				<%= image_tag("bitcoin2.jpg", :alt => "rss feed", :class => "style_image") %>
			</div>

			<p>Each piece is a one-of-a-kind homage to the world's foremost cryptocurrency, created on 16" x 18" posterboard. While no two Bitcoin SpaceArt pieces are identical, you can see a mock-up of the design on our home page.</p>  
			<p>The Bitcoin SpaceArt piece can be yours for $25 USD, paid for exclusively in Bitcoin using Coinbase's wallet system. While we currently can only serve customers in the United States, shipping is included in the price of your purchase. Woohoo!</p>
			<p>Estimated shipping time will be in five days of your order. We will send a confirmation email upon receiving your order.</p> 
			<p>We are extremely stoked to be working with Bitcoin. Let us know what you think or follow us on <a href="https://twitter.com/bitcoinspaceart">Twitter</a> 

<!--- WE MAY WANT TO PUT A BUTTON HERE TO GAUGE INTERNATIONAL INTEREST IN THE LONG-TERM. CLICK HERE TO ADD YOUR NAME --> 

	</div> 
	</div>
</div>
