<div class="container">
	<div class="jumbotron">
		<div id="contact">
		<h1>Beam Me Up: Contact Bitcoin SpaceArt</h1> 
		<p>Thank you for visiting Bitcoin SpaceArt.</p>
		<div class="imagecontainer"> 
				<%= image_tag("bitcoin2.jpg", :alt => "rss feed", :class => "faq_image") %>
		</div>
		<p>If you have questions or need some information about your order, get in touch with us!</p>
		<ul> 
			<li>Email: bitcoinspaceart [at] gmail [dot] com</li>
			<li><a href="https://twitter.com/bitcoinspaceart">@BitcoinSpaceart</a></li>
			<li><a href="https://plus.google.com/b/116322423792936545197/116322423792936545197/about">Google+</a></li>
		</ul>
		<p>We will make sure to get back to you. Let us know what you think about our project, and make sure to follow us on <a href="https://twitter.com/bitcoinspaceart">Twitter</a>.
		</div> 

<!-- Doing tags with the Bitcoin symbol --> 

<!--- Two BTC hobbyists who live in A2. Tell them how to get in touch with you. --> 

<!--- We will give refunds if they are damaged. Put some information down about the refund policy in case something happens with the order.  --> 

	</div> 
</div>