<div class="container">
	<div class="jumbotron">
		<div id="contact">
		<h1>Beam Me Up: Contact Bitcoin in Space</h1> 
	</div> 
		<p>Bitcoin in Space is based out of Ann Arbor, MI.</p>

<!-- Doing tags with the Bitcoin symbol --> 

<!--- Two BTC hobbyists who live in A2. Tell them how to get in touch with you. --> 

<!--- We will give refunds if they are damaged. Put some information down about the refund policy in case something happens with the order.  --> 

	</div> 
</div>