<div class="container">
	<div class="jumbotron">
		<div class="aboutText">
		<h1>Frequently Asked Questions</h1> 
		<p style="font-size: 23px;">Will all SpaceArt portraits look the same?</p>
		<p style="margin-left: 15px;">No, each SpaceArt project will be unique to the order. That said, as you can see throughout the site, we maintain a Bitcoin theme inspired by the community's "to the moon" slogan.</p> 
		<div class="imagecontainer"> 
				<%= image_tag("bitcoin3.jpg", :alt => "rss feed", :class => "faq_image") %>
		</div>
		<p style="font-size: 23px;">What are the shipping costs for each order?</p>
		<p style="margin-left: 15px;">Shipping costs are included with your order, as long as you live in the United States. We are not shipping international yet, though we would love to. If you are interested, definitely let us know so we can gauge our international interest.</p> 

		<div class="imagecontainer"> 
				<%= image_tag("bitcoin5.jpg", :alt => "rss feed", :class => "style_image") %>
		</div>

		<p style="font-size: 23px;">What if there is a problem with my order?</p>
		<p style="margin-left: 15px;">We are members of the Bitcoin community, and we want to make sure every customer is fully satisfied. If your artwork is damaged in the mailing process or another issue arises, please let us know immediately. Click the <a href="www.bitcoinspaceart.com/contact">contact button</a> to let us know right away, and we'll make sure to reach out to you.</p>
	</div>
</div>
</div> 