<div class="container">
	<div class="jumbotron">
		<h1>FAQ</h1> 
		<div class="imagecontainer"> 
				<%= image_tag("bitcoin3.jpg", :alt => "rss feed", :class => "style_image") %>
		</div>
		<p>This is the FAQ page</p> 
		<p>Are all of the paintings going to be the same?</p> 
		<p>What are the shipping costs?</P> 
	</div>
</div> 