<div class="container">
	<div class="jumbotron">
		
		<div class="last">
			<p>Bitcoin in Space: Taking art to the moon, once and for all.</p> 
		</div> 

		<div class="imagecontainer"> 
			<%= image_tag("bitcoinfirst.jpg", :alt => "rss feed", :class => "style_image") %>
		</div>

		<div class="coinbase"> 
			<a class="coinbase-button" data-code="580507993cf31927d3e71dc724cf0fc7" data-button-style="custom_large" href="https://coinbase.com/checkouts/580507993cf31927d3e71dc724cf0fc7">Pay With Bitcoin</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
		</div> 
		<div class="price">
			<p>Buy Today for .04223 BTC ($25 USD)</p>
		</div> 

	</div> 

	</div>

</div>
