<h1>Spacetime Art</h1>
<p>Art meets Bitcoin at Spacetime Art.</p>

<div class="container">

<div class="jumbotron">
	<%= image_tag("bitcoinfirst.jpg", :alt => "rss feed", height: '472', width: '692') %>
</div>

</container>
