<div class="container">
	 <h1>Spacetime Art</h1>

	<div class="jumbotron">
		<%= image_tag("bitcoinfirst.jpg", :alt => "rss feed", height: '472', width: '692') %>

		<a class="coinbase-button" data-code="52fc3641bb264f3c21961b55be310f48" href="https://coinbase.com/checkouts/52fc3641bb264f3c21961b55be310f48">Pay With Bitcoin</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>

		<p>Art meets Bitcoin: Bitcoin in Space. Inspired by "to the moon," the Bitcoin in Space project depicts the rise of cryptocurrency in our community.</p>
	</div>

</div>
